<ul class="list-group">
  <li class="list-group-item" *ngFor="let subtask of taskObject.subtaskList; let i = index" [attr.data-index]="i" >
    <!-- style="margin:10px" -->
    <div class="row">
      <div class="col-md-9">
          <form #SubTaskData = "ngForm" (ngSubmit) = "hide(SubTaskData.value, subtask.id)"> 
            <strong *ngIf="!subtask.isClicked" (click)="show($event, subtask.id)"> {{subtask.name}}</strong>
            <input id="subtask_name" *ngIf="subtask.isClicked" class="form-control" [(ngModel)]="subtask.name" name="subtask_name" placeholder="Name">
            <br/> 
            <img *ngIf="!subtask.isClicked" src="{{subtask.image_url}}" style="width: 160;height: 50px;padding-top: 10px;" (click)="show($event, subtask.id)">
            <input id="subtask_image" *ngIf="subtask.isClicked" class="form-control" [(ngModel)]="subtask.image_url" autofocus name="subtask_image" placeholder="Image url">
            <br/> 
            <div style="padding-top: 14px;">
                <p *ngIf="!subtask.isClicked" (click)="show($event, subtask.id)" > {{subtask.description}}</p>
                <input id="subtask_description" *ngIf="subtask.isClicked" class="form-control" [(ngModel)]="subtask.description" autofocus name="subtask_description" placeholder="Description">
            </div>
            <br/>
            <button *ngIf="subtask.isClicked" class="btn btn-xs btn-primary" type="submit" value = "submit" >submit</button>
         </form>
      </div>
      <div class="col-md-3">
        <i class="fa fa-times" style="float: right;cursor: pointer;" [hidden]="subtask.isClicked" (click)="removeTask($event, subtask.id)"></i>
      </div>
    </div>
    
  </li>
  <li class="list-group-item">
    <button class="btn btn-xs btn-primary" type="button" (click)="addsubTask()">Add subtask</button>
  </li>
</ul>