
<div class="text-center">
  <div class="col-sm-6 offset-sm-3">
    <img class="mb-4" src="../assets/android-icon-72x72.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
  </div>
</div>  
<div class="text-left">
  <div class="col-sm-6 offset-sm-3">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div> -->
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email Address is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
      </div>
      <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
      <!-- <input type="email" id="inputEmail" class="form-control" formControlName="username" placeholder="Email address" required autofocus> -->
      <!-- <label for="inputPassword" class="sr-only">Password</label> -->
      <!-- <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required> -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" formControlName="rememberme" value="remember-me"> Remember me
        </label>
      </div>
      <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>    
  </div>  
</div>
    <br>

<div class="text-center">
  <div class="col-sm-6 offset-sm-3">
    <p><a href="#">forgot Username/Password?</a></p>
    <!-- <div class="text-center"> -->
      <p>  
        <!-- <button type="button"  class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button> -->
        <!-- <button type="button"  class="btn btn-social-icon btn-google mx-1"><span class="fa fa-google"></span></button> -->
        <!-- <i class="fa fa-facebook"></i> -->
        &nbsp;Or,&nbsp;
        <!-- <a href="#" (click)="facebookLogin()"><img class="mb-4" src="assets/facebook.png" alt="" width="24" height="24"></a>&nbsp;&nbsp; -->
        <!-- <a href="#" (click)="googleLogin()"><img class="mb-4" src="assets/google.png" alt="" width="24" height="24"></a> -->
        <a routerLink="/register"><button type="button" class="btn btn-primary">Sign Up</button></a>
      </p>
      <!-- </div>   -->

  </div>  
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">
<style>

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

</style>