  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of projectObject.taskList; let i = index" [attr.data-index]="i" >
      <!-- style="margin:10px" -->
      <div class="row">
        <div class="col-md-9">
            <form #TaskData = "ngForm" (ngSubmit) = "hide(TaskData.value, task.id)"> 
              <strong *ngIf="!task.isClicked" (click)="show($event, task.id)"> {{task.name}}</strong>
              <input id="task_name" *ngIf="task.isClicked" class="form-control" [(ngModel)]="task.name" name="task_name" placeholder="Name">
              <br/> 
              <img *ngIf="!task.isClicked" src="{{task.image_url}}" style="width: 160;height: 50px;padding-top: 10px;" (click)="show($event, task.id)">
              <input id="task_image" *ngIf="task.isClicked" class="form-control" [(ngModel)]="task.image_url" autofocus name="task_image" placeholder="Image url">
              <br/> 
              <div style="padding-top: 14px;">
                  <p *ngIf="!task.isClicked" (click)="show($event, task.id)" > {{task.description}}</p>
                  <input id="task_description" *ngIf="task.isClicked" class="form-control" [(ngModel)]="task.description" autofocus name="task_description" placeholder="Description">
              </div>
              <br/>
              <!-- <input *ngIf="task.isClicked" type = "submit" value = "submit">  -->
              <button *ngIf="task.isClicked" class="btn btn-xs btn-primary" type="submit" value = "submit" >submit</button>
           </form>
        </div>
        <div class="col-md-3">
          <i class="fa fa-times" style="float: right;cursor: pointer;" [hidden]="task.isClicked" (click)="removeTask($event, task.id)"></i>
        </div>
        <div class="card-body">
          <app-subtask [projectObject]="projectObject" [taskObject]="task"></app-subtask>
        </div>
      </div>
      
    </li>
    <li class="list-group-item">
      <button class="btn btn-xs btn-primary" type="button" (click)="addTask()">Add Task</button>
    </li>
    
  </ul>