<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}<i class="fa fa-times" (click)="removeAlert()" style="float: right;cursor: pointer;"></i></div>
