
<div class="row" *ngIf="!projects.length">
    <span style="padding-left:40%;">No Projects Available</span>
</div>
<div div class="row" *ngIf="projects.length">
    <div class="col-lg-3 col-xs-12"  *ngFor="let project of projects; let i = index" [attr.data-index]="i" >
        <!-- <div class="drag-box" cdkDrag> -->
        <div class="card" style="width: 100%;margin-bottom: 1%;min-height:10rem;line-height: 0%;">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <form #projectData = "ngForm" (ngSubmit) = "hide(projectData.value, project.id)"> 
                            <strong *ngIf="!project.isClicked" (click)="show($event, project.id)" > {{project.name}}</strong>
                            <input id="project_name" *ngIf="project.isClicked" class="form-control" [(ngModel)]="project.name" autofocus name="project_name" placeholder="Name">
                            <br/> 
                            <img *ngIf="!project.isClicked" src="{{project.image_url}}" style="width: 200px;height: 50px;padding-top: 10px;" (click)="show($event, project.id)">
                            <input id="project_image" *ngIf="project.isClicked" class="form-control" [(ngModel)]="project.image_url" autofocus name="project_image" placeholder="Image Url">
                            <br/> 
                            <div style="padding-top: 14px;">
                                <p *ngIf="!project.isClicked" (click)="show($event, project.id)" > {{project.description}}</p>
                                <input id="project_description" *ngIf="project.isClicked" class="form-control" [(ngModel)]="project.description" autofocus name="project_description" placeholder="Description">
                            </div>
                            <br/>
                            <button *ngIf="project.isClicked" class="btn btn-xs btn-primary" type="submit" value = "submit" >submit</button>
                         </form>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-times" [hidden]="project.isClicked" style="float: right;cursor: pointer;" (click)="removeProject($event, project.id)"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-task [projectObject]="project"></app-task>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <button class="btn btn-xs btn-primary" type="button" (click) = "addCard()">Add Project</button>
</div>

