<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img src="../assets/android-icon-72x72.png" alt="" width="35" height="35"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline" *ngIf="currentUser">
      <a class="navbar-nav mr-auto" style="color:white;">{{currentUser.user.username}}</a>
      &nbsp;&nbsp;
      <div [hidden]="currentUser.user.username == 'Anonymous'">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link" style="cursor: pointer" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div> 
    </form>
  </div>
</nav>

<main role="main" class="jumbotron">
  <div class="container" style="min-height: 420px;">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>    
</main>
<footer class="text-center">
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020-WMA</p>
</footer>
