<div class="row">
    <h4>Projects</h4> 
</div>
<br>
<div style="padding:10px;background-color: lightblue;color:midnightblue;border-radius: 20px;">
<app-task-mngmt></app-task-mngmt>
</div>

    <!-- <div class="box-list-horizontal" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
        <div class="drag-box" *ngFor="let customer of customers" cdkDrag>
        </div>
    </div> -->
